//- mixin pictureTag(fileName)
//-     picture.preloader__pic
//-             source(type="image/png", srcset=`${baseDir}images/${fileName}.png 1x, ${baseDir}images/${fileName}@2.png 2x`)
//-             source(type="image/webp", srcset=`${baseDir}images/${fileName}.webp 1x, ${baseDir}images/${fileName}@2.webp 2x`)
//-             |
//-             |
//-             img(src=`${baseDir}images/${baseDir}.png`, srcset=`${baseDir}images/${baseDir}@2.png 2x`, alt="")


